<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/images/logo/logo.png" type="image/png">
    <title>@ViewData["Title"] - PlantDiseaseX</title>
</head>
<body>
    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




@* 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="~/images/logo/logo.png" type="image/png">
    <title>@ViewData["Title"] - PlantDiseaseX</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Registration/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Registration/css/style.css">

</head>
<body>




    @RenderBody()
    <!-- JS -->

    <script src="~/Registration/vendor/jquery/jquery.min.js"></script>
    <script src="~/Registration/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
 @*    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")


</body>
</html>  *@