<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Admin.PlantDiseaseX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/trees.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Admin.PlantDiseaseX.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link href="~/demo/demo.css" rel="stylesheet" />


    <!-- Favicons -->
    <link href="~/images/logo/logo1.png" rel="icon">


    <style>
        * {
            padding: 0;
            margin: 0;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: block;
            background-color: #0e4166;
            background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
        }

      /*   :root {
            --primary-color: #28a745;
        } */
    </style>
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/demo/demo.css" rel="stylesheet" />
</head>
<body>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
        <defs>
            <linearGradient id="bg">
                <stop offset="0%" style="stop-color:rgba(130, 158, 249, 0.06)"></stop>
                <stop offset="50%" style="stop-color:rgba(76, 190, 255, 0.6)"></stop>
                <stop offset="100%" style="stop-color:rgba(115, 209, 72, 0.2)"></stop>
            </linearGradient>
            <path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
	s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
        </defs>
        <g>
            <use xlink:href='#wave' opacity=".3">
                <animateTransform attributeName="transform"
                                  attributeType="XML"
                                  type="translate"
                                  dur="10s"
                                  calcMode="spline"
                                  values="270 230; -334 180; 270 230"
                                  keyTimes="0; .5; 1"
                                  keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                  repeatCount="indefinite" />
            </use>
            <use xlink:href='#wave' opacity=".6">
                <animateTransform attributeName="transform"
                                  attributeType="XML"
                                  type="translate"
                                  dur="8s"
                                  calcMode="spline"
                                  values="-270 230;243 220;-270 230"
                                  keyTimes="0; .6; 1"
                                  keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                  repeatCount="indefinite" />
            </use>
            <use xlink:href='#wave' opacty=".9">
                <animateTransform attributeName="transform"
                                  attributeType="XML"
                                  type="translate"
                                  dur="6s"
                                  calcMode="spline"
                                  values="0 230;-140 200;0 230"
                                  keyTimes="0; .4; 1"
                                  keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
                                  repeatCount="indefinite" />
            </use>
        </g>
    </svg>
    <div class="wrapper">
      
        <div class="sidebar" data="green" background-color="green">


            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
            -->
            <div class="sidebar-wrapper" data="green" background-color="green">
                <div class="logo" style="position: relative;">
                    <a href="javascript:void(0)" class="simple-text" style="position: absolute; top: -5px; left: 0;">
                        <img src="~/images/logo/logo1.png" alt="Logo" style="max-height: 50px;">
                    </a>
                    <a asp-controller="Home" asp-action="Index" class="simple-text logo-normal" style="margin-left: 60px;">
                        PlantDiseasX
                    </a>
                </div>

        
                <ul class="nav">
                    <div class="text-center" style="color:white">EndPoints (APIs)</div>
                    <li class="active ">
                        <a asp-controller="Plant" asp-action="Index">
                            <i class="tim-icons gg-trees"></i>
                            <p>Plants</p>
                        </a>
                    </li>
                    <li class="active ">
                        <a asp-controller="Category" asp-action="Index">
                            <i class="tim-icons icon-components"></i>

                            <p>Categories</p>
                        </a>
                    </li>
                    <li class="active ">
                        <a asp-controller="Season" asp-action="Index">

                            <i class="tim-icons icon-atom"></i>
                            <p>Seasons</p>
                        </a>
                    </li>
                    <li class="active ">
                        <a asp-controller="NewsArticle" asp-action="Index">

                            <i class="tim-icons icon-single-copy-04"></i>
                            <p>NewsArticles</p>
                        </a>
                    </li>
                    <li class="active ">
                        <a asp-controller="CornDisease" asp-action="Index">

                            <i class="tim-icons icon-single-copy-04"></i>
                            <p>CornDiseases</p>
                        </a>
                    </li>
                    <div style="margin-bottom: 10px;"></div>
                    <div class="text-center" style="color:white">ContactUs</div>
                    <li class="active ">
                        <a asp-controller="ContactUs" asp-action="Index">

                            <i class="tim-icons icon-single-copy-04"></i>
                            <p>Messages</p>
                        </a>
                    </li>


                    <div style="margin-bottom: 10px;"></div>
                    <div class="text-center" style="color:white">Management</div>
                    <li class="active ">
                        <a asp-controller="Role" asp-action="Index">
                            <i class="tim-icons icon-badge"></i>
                            <p>Roles</p>
                        </a>
                    </li>
                    <li class="active ">
                        <a asp-controller="User" asp-action="Index">
                            <i class="tim-icons icon-single-02"></i>
                            <p>Users</p>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>


        <!-- Navbar -->
        <div class="main-panel" data="green" background-color="green">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent " data="green" background-color="green">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                        
                            <li class=" nav-item">
                                <span style="margin-top:0.75rem" class="d-none d-md-block dropdown-toggle ps-2">
                                  
                                 @if (ViewBag.LoggedInUsers != null)
                                 {
                                     @foreach (ApplicationUser user in ViewBag.LoggedInUsers)
                                     {
                                               @user.FName
                                     }
                                 }
                                  else
                                 {
                                        
                                 }

                                 </span>
                           
                              

                            <li class="dropdown nav-item">
                                
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                   
                                    <div class="photo">
                                        <img src="~/images/logo/anime3.png" alt="Profile Photo">
                                    </div>
                                   
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                   
                                    <p class="d-lg-none">
                                        Log out
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar">
                                   @*  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                                     <li class="dropdown-divider"></li>
                                    *@
                                    
                                    <li class="nav-link"><a asp-controller="Account" asp-action="SignOut" class="nav-item dropdown-item">Log out</a></li>
                                </ul>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
            <div class="content">
                <div class="container ms-3 ">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>

        </div>
    </div>

    <div class="fixed-plugin">

        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title">Sitting AdminPanel.PlantDiseaseX</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="badge-colors text-center">
                            <span class="badge filter badge-primary active" data-color="primary"></span>
                            <span class="badge filter badge-info" data-color="blue"></span>
                            <span class="badge filter badge-success" data-color="green"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line text-center color-change">
                    <span class="color-label">LIGHT MODE</span>
                    <span class="badge light-badge mr-2"></span>
                    <span class="badge dark-badge ml-2"></span>
                    <span class="color-label">DARK MODE</span>
                </li>
               
                <li class="header-title">Hello Admin</li>
             
            </ul>
        </div>
    </div>


    <!--   Core JS Files   -->
    <script src="~/js/core/jquery.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');
                $navbar = $('.navbar');
                $main_panel = $('.main-panel');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');
                sidebar_mini_active = true;
                white_color = false;

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



                $('.fixed-plugin a').click(function (event) {
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .background-color span').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data', new_color);
                    }

                    if ($main_panel.length != 0) {
                        $main_panel.attr('data', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data', new_color);
                    }
                });

                $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        sidebar_mini_active = false;
                        blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                    } else {
                        $('body').addClass('sidebar-mini');
                        sidebar_mini_active = true;
                        blackDashboard.showSidebarMessage('Sidebar mini activated...');
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                });

                $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (white_color == true) {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').removeClass('white-content');
                        }, 900);
                        white_color = false;
                    } else {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').addClass('white-content');
                        }, 900);

                        white_color = true;
                    }


                });

                $('.light-badge').click(function () {
                    $('body').addClass('white-content');
                });

                $('.dark-badge').click(function () {
                    $('body').removeClass('white-content');
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
        window.TrackJS &&
            TrackJS.install({
                token: "ee6fab19c5a04ac1a32a645abde4613a",
                application: "black-dashboard-free"
            });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
