@using PlantDiseaseX.Core
@using PlantDiseaseX.Core.Entities
@model CornDiseasecsViewModel
@{
    ViewData["Title"] = "Edit";
}

@* <h1>Edit</h1> *@

<h1>Edit @Model.name Disease</h1>

<div class="card has-success" style="background-color: rgba(0, 240, 196, 0.1)">
    <div class="container">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">

            <div>
                <input type="hidden" asp-for="corndiseasepicture1" />
                <h4 class="p-2">Current picture1</h4>
                <img src="~/@Model.corndiseasepicture1" alt="Corndisease Image">
                <input type="hidden" asp-for="corndiseasepicture1" />

                <div class="form-group   p-2 col-md-6">

                    <label asp-for="CorndiseaseImage1" class="btn btn-default form-label mt-4 ">  Upload New Image   </label>

                    <input type="file" asp-for="CorndiseaseImage1" class="form-control" accept="image/*" onchange="displayImage(event)" name="corndiseaseimage1" />

                    <span asp-validation-for="CorndiseaseImage1" class="text-danger" style="color:red"></span>

                </div>

                <div class="p-2 col-md-6">
                    @if (Model != null && (string.IsNullOrEmpty(Model.corndiseasepicture1)))
                    {
                        <div id="poster-container">
                            <img id="poster-image" src="~/images/corndisease/@Model.corndiseasepicture1" alt="Poster" class="img-thumbnail" />
                        </div>

                    }
                    else
                    {
                        <div id="poster-container" class="d-none">
                            <img id="poster-image" alt="Poster" class="img-thumbnail" />
                        </div>
                    }
                </div>
            </div>


            <div>

                <input type="hidden" asp-for="corndiseasepicture2" />
                <h4 class="p-2">Current picture2</h4>
                <img src="~/@Model.corndiseasepicture2" alt="Corndisease Image">
                <input type="hidden" asp-for="corndiseasepicture2" />

                <div class="form-group   p-2 col-md-6">

                    <label asp-for="CorndiseaseImage2" class="btn btn-default form-label mt-4 ">  Upload New Image   </label>

                    <input type="file" asp-for="CorndiseaseImage2" class="form-control" accept="image/*" onchange="displayImage(event)" name="corndiseaseimage2" />

                    <span asp-validation-for="CorndiseaseImage2" class="text-danger" style="color:red"></span>

                </div>

                <div class="p-2 col-md-6">
                    @if (Model != null && (string.IsNullOrEmpty(Model.corndiseasepicture2)))
                    {
                        <div id="poster-container">
                            <img id="poster-image" src="~/images/corndisease/@Model.corndiseasepicture2" alt="Poster" class="img-thumbnail" />
                        </div>

                    }
                    else
                    {
                        <div id="poster-container" class="d-none">
                            <img id="poster-image" alt="Poster" class="img-thumbnail" />
                        </div>
                    }
                </div>


            </div>


            <div>
                <input type="hidden" asp-for="corndiseasepicture3" />
                <h4 class="p-2">Current picture3</h4>
                <img src="~/@Model.corndiseasepicture3" alt="Corndisease Image">
                <input type="hidden" asp-for="corndiseasepicture3" />

                <div class="form-group   p-2 col-md-6">

                    <label asp-for="CorndiseaseImage3" class="btn btn-default form-label mt-4 ">  Upload New Image   </label>

                    <input type="file" asp-for="CorndiseaseImage3" class="form-control" accept="image/*" onchange="displayImage(event)" name="corndiseaseimage3" />

                    <span asp-validation-for="CorndiseaseImage3" class="text-danger" style="color:red"></span>

                </div>


                <div class="p-2 col-md-6">
                    @if (Model != null && (string.IsNullOrEmpty(Model.corndiseasepicture3)))
                    {
                        <div id="poster-container">
                            <img id="poster-image" src="~/images/corndisease/@Model.corndiseasepicture3" alt="Poster" class="img-thumbnail" />
                        </div>
                    }
                    else
                    {
                        <div id="poster-container" class="d-none">
                            <img id="poster-image" alt="Poster" class="img-thumbnail" />
                        </div>
                    }
                </div>


            </div>


            <partial name="CreatEditPartialView" model="Model" />
            <br />
            <br />
            @*  <input  type="submit" value="Save" class="btn btn-primary" /> *@
            <button type="submit" value="Save" class="btn btn-success  mb-0 animation-on-hover">
                Edite
            </button>
            <a asp-action="Index" class="btn btn-light animation-on-hover">Back To List</a>
        </form>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function displayImage(event) {
            var input = event.target;
            var image = document.getElementById("poster-image");
            var container = document.getElementById("poster-container");

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    image.src = e.target.result;
                    container.classList.remove("d-none");
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                image.src = "";
                container.classList.add("d-none");
            }
        };


    </script>
}
