


@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container" id="container">


    <div class="form-container sign-in">
        <form asp-action="Login" method="POST">

        <h1>Sign In</h1>
        <input type="email" asp-for="Email" placeholder="Email" required="">
        <input type="password" asp-for="Password" placeholder="Password" required="">

            <div class="form-check form-switch">
                <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label style="margin-top:0.3em;margin-left:0.5em" class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
            </div>
        <button>Sign In</button>
        <img src="~/images/logo/logo2.2.png" alt="PlantDiseaseX Logo" class="logo">
    </form>
</div>
<div class="toggle-container">
    <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to control AdminPanel</p>
                <button class="hidden" id="login">Sign In</button>


            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Admin!</h1>
                <p>Sign In with your personal details to control AdminPanel</p>
                <img style="width:140px;height:120px;" src="~/images/logo/logo.png" alt="PlantDiseaseX Logo" class="logo">
                 <a href="@Url.Action("Register", "Account")" class="hidden" id="register" style="background-color: #008f92;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;">Sign Up</a> 
            </div>
    </div>

</div>
</div>
@section Scripts
{
        <partial name="_ValidationScriptsPartial" />
}

